* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


label {
    font-size: 14px;
    color: #555;
    display: block;
}

/* input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4e73df;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e59d9;
}

a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #4e73df;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

button[type="button"] {
    background-color: #f8f9fc;
    color: #333;
    border: 1px solid #ccc;
}

button[type="button"]:hover {
    background-color: #e9ecef;
}

  */