<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/painel-lib.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-links">

        <a href="{{ url_for('listarUsuarios') }}">Listar Usuários</a>
        <a href="{{ url_for('painelSolicitacoes') }}">Solicitações</a>
        <a href="{{ url_for('telaCadastroLivro') }}">Cadastrar Livro</a>
        <a href="{{ url_for('sair') }}">Sair</a>

    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Título</th>
                <th>ISBN</th>
                <th>Editora</th>
                <th>Assunto</th>
                <th>Edição</th>
                <th>Reserva</th>

            </tr>
        </thead>
        <tbody>
            {% if livros %}
                {% for livro in livros %}
                <tr>
                    <td>{{ livro.autor }}</td>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.isbn }}</td>
                    <td>{{ livro.editora }}</td>
                    <td>{{ livro.assunto }}</td>
                    <td>{{ livro.edicao }}</td>
                    <td>
                        {% if livro.disponivel %}
                            <form action="{{ url_for('indisponibilizarLivro', livro_id=livro.id) }}" method="POST">
                                <button type="submit">Indisponibilizar</button>
                            </form>
                        {% else %}
                            <form action="{{ url_for('disponibilizarLivro', livro_id=livro.id) }}" method="POST">
                                <button type="submit">Disponibilizar</button>
                            </form>
                        {% endif %}
                    </td>
                    
                    
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Nenhum livro cadastrado.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</body>
</html>