<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h2>Cadastrar Usuário</h2>

    <form action="{{ url_for('cadastrarAluno') }}" method="POST">

        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="cpf">CPF:</label><br>
        <input type="text" id="cpf" name="cpf" required><br><br>

        <label for="matricula">Matrícula:</label><br>
        <input type="text" id="matricula" name="matricula" required><br><br>

        <label for="curso">Curso:</label><br>
        <input type="text" id="curso" name="curso" required><br><br>

        <label for="email">Email Institucional:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required><br><br>

        
        <button type="submit">Cadastrar</button>
        <a href="{{ url_for('sair') }}">Sair</a>
    </form>
</body>
</html>
