<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../static/tela-login.css">
</head>
<body>

    <div class="container">


        <form action="{{ url_for('entrar') }}" method="POST">

            <h2>Login</h2>


            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="password">Senha:</label><br>
            <input type="password" id="password" name="senha" required><br><br>
            
            <a href="" class="senha">Esqueci a senha</button></a><br>
            <button type="submit">Entrar</button><br>
            <a href="{{ url_for('telaCadastro') }}"><button type="button">Cadastrar</button></a><br>
            <a href="{{ url_for('painelPrincipal') }}"><button type="button">Usuário Externo</button></a><br>
        </form>

    </div>
</body>
</html>
